<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Item Details</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="ingredients"><a href="/ingredients">Ingredients</a></li>
          <li id="nutrition"><a href="/nutrition">Nutrition Info</a></li>

        </ul>
    </div>
  </nav>

  <body>

    <% var i=0 %>
     <% result.forEach(function(ele){ %>
       <h1><%= i %> <%= recipe_name[i] %></h1>
        <div class="item">
          <p><%= url[i] %></p>
          <p><strong> Ingredients for <%= quantity[i] %> Units</strong></p>
          <p><%= result[i] %></p><br>
          <p><%= nutrient[i] %></p>

        </div>
      <% i++; %>
     <% }) %>

<footer>

</footer>
   </body>
   </html>
